<div class="weui-tab foot-nav">
    <div class="weui-tab__panel">

    </div>
    <div class="weui-tabbar">
        <a href="<%linkurl("Vote")%>" class="weui-tabbar__item">
            <i class="iconfont icon-home weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="<%linkurl("VoteRank")%>" class="weui-tabbar__item">
            <i class="iconfont icon-view weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">排名</p>
        </a>
        <a href="<%linkurl("VoteGift")%>" class="weui-tabbar__item">
            <i class="iconfont icon-order weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">奖品</p>
        </a>
        <a href="<%linkurl("VoteJoin")%>" class="weui-tabbar__item">
            <i class="iconfont icon-user weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">报名</p>
        </a>
    </div>
</div>