<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>支付中心－{config.webname}</title>
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body ontouchstart>
    <div class="page">
        <!--页面头部-->
        <div class="header">
            <a>
                <i class="iconfont icon-arrow-left"></i>
            </a>
            <h3>支付中心</h3>
            <div class="right">

            </div>
        </div>
        <!--/页面头部-->
        <!--页面内容-->
        <div class="page__bd">
            <%if(action=="succeed")%>
            <!--支付成功-->
            <div class="weui-msg msg-box">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-success weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">支付成功</h2>
                    <p class="weui-msg__desc">
                        支付已经成功，可以点击下方按钮返回首页。
                    </p>
                </div>
                <div class="weui-msg__opr-area">

                    <p class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="VoteMember.aspx?id={voteid}">选手页面</a>
                        <a class="weui-btn weui-btn_default" href="goVote.aspx?voteid={activiId}">返回首页</a>
                    </p>
                </div>

            </div>
            <!--/支付成功-->
            <%/if%>

            <%if(action=="error")%>
            <!--支付失败-->
            <div class="weui-msg msg-box">
                <div class="weui-msg__icon-area">
                    <i class="weui-icon-warn weui-icon_msg"></i>
                </div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">支付失败</h2>
                    <p class="weui-msg__desc">
                        支付失败，可以点击下方按钮进入会员中心查看订单，如您确实已支付，请与我们客服人员联系！
                    </p>
                </div>
                <div class="weui-msg__opr-area">
                    <p class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="VoteMember.aspx?id={voteid}">选手页面</a>
                        <a class="weui-btn weui-btn_default" href="goVote.aspx?voteid={activiId}">返回首页</a>
                    </p>
                </div>
            </div>
            <!--/支付失败-->
            <%/if%>

        </div>
        <!--/页面内容-->

    </div>
</body>
</html>
