<div class="footer">
    <div class="section">        
        <div class="foot-box">
            <div class="copyright">
                <p>版权所有 {site.company} {site.crod}</p>
                <p>公司地址：{site.address} 联系电话：{site.tel}</p>
                <p class="gray">Copyright © 2009-2017 dycxpt.com Corporation,All Rights Reserved.</p>
            </div>
            <div class="service">
                <p>东营创新创业服务平台</p>                
            </div>
        </div>
    </div>
</div>